@model Shopping.Models.tUser
@{
    ViewBag.Title = "Đăng Ký";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Đăng Ký</h2>
<head>
    <style>
        .card {
            width: 330px;
            border-radius: 5px;
            padding: 10px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
        }

            .card:hover {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            }
    </style>

    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <script src="https://https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script>
    <script src="https://https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9.1/jquery.validate.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"></script>
    <link rel="stylesheet" href="~/Content/style.css" />
</head>

<body>
    <div class="container">
        <div class="card" style="margin:auto">
            @using (Html.BeginForm("Register", "Login"))
            {
                @Html.AntiForgeryToken()

                <table>
                    <tr>
                        <td>@Html.Label("Tên tài khoản")</td>
                        <td>@Html.TextBoxFor(m => m.uUsername)</td>
                    </tr>
                    <tr><td> <td>@Html.Label(" ")</td></td></tr>
                    <tr>
                        <td>@Html.Label("Mật khẩu")</td>
                        <td>@Html.PasswordFor(m => m.uPassword)</td>
                    </tr>
                    <tr><td> <td>@Html.Label(" ")</td></td></tr>
                    <tr>
                        <td>@Html.Label("Xác nhận mật khẩu ")</td>
                        <td>@Html.PasswordFor(m => m.ConfirmPassword)</td>
                    </tr>
                    <tr><td> <td>@Html.Label(" ")</td></td></tr>
                    <tr>
                        <td>@Html.Label("Email")</td>
                        <td>@Html.TextBoxFor(m => m.uEmail)</td>
                    </tr>
                    <tr><td> <td>@Html.Label(" ")</td></td></tr>
                    <tr>
                        <td>@Html.Label("Số điện thoại")</td>
                        <td>@Html.TextBoxFor(m => m.uPhone)</td>
                    </tr>
                    <tr>
                        <td>
                            @Html.Label(" ")
                        </td>
                    </tr>
                </table>
                <input class="btn btn-primary" type="submit" value="Đăng Ký" />
                <input class="btn btn-primary" type="reset" value="Làm Mới" />
                <a class="btn btn-primary" href="@Url.Action("Index","Login")">
                    Đăng Nhập
                </a>
            }
        </div>
    </div>
</body>
